
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}
.item{
	height:100px;
	width:100px;
	font-size:40px;
	font-weight:900;
}
.item-1{
	background-color:red;
	order:1;
}
.item-2{
	background-color:blue;
	order:3;
}
.item-3{
	background-color:green;
	order:0;
}